<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
        <ul >
          <li>
            <i class="icon-asterisk "></i>  = LEVEL OF DIFFICULTY from 1-5
          </li>
          <li>
            <i class="icon-glass"></i>  = RECIPE COURSE; (Appetizer, Main Dish, Dessert, Beverage) 
          </li>
          <li>
            <i class="icon-time"></i> = COOKING TIME (in minutes)
          </li>
          <li>
            <i class="icon-user"></i>  = SERVING SIZE (for x persons) 
          </li>
        </ul>
</p>