<fieldset>
	<table class="row-fluid">
		<tr>
			<td><%= f.text_field :content, placeholder:"E.g. cut apple"  %></td>
			<td><%= f.hidden_field :_destroy %>
			<%= link_to "remove", '#', class: "remove_fields" %></td>
		</tr>
	</table>
</fieldset>