

<% provide(:title, "Recipe Feed") %>

  <div class="row-fluid">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        
      </section>
    </aside>
    <div class="span8">
      <div class="search-block">
  <div class="search-title"><h3>Recipe Feed</h3>
  </div>
</div>
      <%= render 'shared/feed' %>
    </div>
  </div>
