<% provide(:title, "Search Recipes") %>
      <div ><h3 class=" search-title">Search Recipes</h3></div><br>
<div class="row-fluid">
<%= render 'shared/search_form' %>
</div>

<br>
<div ><h3 class="search-title">Search Results</h3></div><br>
<div class="row">
<%= render @recipes %>
</div>

<div class="row-fluid">
<%= will_paginate @recipes %>
</div>