<% provide(:title, "Search Recipes") %>
      <div class="head-block search-title"><h3 >Search Recipes</h3></div><br>
<div class="row-fluid">
<%= render 'shared/search_form' %>
</div>

<br>
<div class="head-block search-title"><h3 >Search Results</h3></div><br>
<div class="row-fluid">
<%= render @recipes %>
</div>

<div class="row-fluid">
<%= will_paginate @recipes %>
</div>